:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .interior-armchair-empty {
    position: absolute;
    width: 1440px;
    height: 458px;
    top: 0;
    left: 0;
    background: #2c2c2c;
  }
  .saly {
    position: absolute;
    width: 385px;
    height: 385px;
    top: 25px;
    left: 349px;
    background: url(./assets/images/66d570b39c6441c0a05bd78920817a27b7be7b9a.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .byte-shop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 31px;
    left: 42px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .iniciar-sesion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 51px;
    top: 150px;
    left: 73px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
  }
  .byte-shop-simple {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 36px;
    top: 201px;
    left: 73px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
  }
  .byte-shop-online {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 311px;
    height: 115px;
    top: 259px;
    left: 75px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 300;
    line-height: 19.5px;
    text-align: left;
    z-index: 38;
  }
  .rectangle {
    position: absolute;
    width: 539px;
    height: 741px;
    top: 79px;
    left: 783px;
    background: #ffffff;
    z-index: 5;
    border-radius: 40px;
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.08);
  }
  .flex-row-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 451px;
    height: 32px;
    margin: 44px 0 0 44px;
    z-index: 8;
  }
  .bienvenido-a-byteshop {
    flex-shrink: 0;
    position: relative;
    width: 243px;
    height: 32px;
    font-family: Roboto, var(--default-font-family);
    font-size: 21px;
    font-weight: 400;
    line-height: 24.609px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 7;
  }
  .bienvenido {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
  }
  .byteshop {
    position: relative;
    color: #0089ec;
    font-family: Poppins, var(--default-font-family);
    font-size: 21px;
    font-weight: 600;
    line-height: 25.2px;
    text-align: left;
  }
  .no-tienes-cuenta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 120px;
    height: 20px;
    color: #8d8d8d;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: right;
    white-space: nowrap;
    z-index: 8;
  }
  .flex-row-bdd {
    position: relative;
    width: 451px;
    height: 90px;
    margin: -6px 0 0 44px;
    z-index: 10;
  }
  .register {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    width: 66px;
    height: 20px;
    top: 0;
    left: 385px;
    color: #0089ec;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: right;
    white-space: nowrap;
    z-index: 9;
  }
  .login-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 83px;
    top: 7px;
    left: 0;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 55px;
    font-weight: 500;
    line-height: 82.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .flex-row {
    position: relative;
    width: 451px;
    height: 56px;
    margin: 42px 0 0 44px;
    z-index: 20;
  }
  .regroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 133px;
    height: 56px;
    top: 0;
    left: 318px;
    z-index: 20;
  }
  .rectangle-2 {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 55px;
    background: #f6f6f6;
    z-index: 17;
    border-radius: 9px;
  }
  .facebook {
    position: relative;
    width: 29px;
    height: 29px;
    margin: 12px 0 0 15px;
    background: url(./assets/images/e7e95303-0f39-48b4-9846-44fa0b2ba971.png)
      no-repeat center;
    background-size: cover;
    z-index: 18;
  }
  .rectangle-3 {
    flex-shrink: 0;
    position: relative;
    width: 60px;
    height: 55px;
    background: #f6f6f6;
    z-index: 20;
    border-radius: 9px;
  }
  .apple {
    position: relative;
    width: 29px;
    height: 28px;
    margin: 13px 0 0 15px;
    background: url(./assets/images/fbf2483d-dc46-4719-a544-7eebac7c9f79.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
    overflow: hidden;
  }
  .rectangle-4 {
    position: absolute;
    width: 298px;
    height: 55px;
    top: 1px;
    left: 0;
    background: #e8f1ff;
    z-index: 13;
    border-radius: 9px;
  }
  .iniciar-con-google {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 15px;
    left: 79px;
    color: #4285f4;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .google {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 15px;
    left: 32px;
    background: url(./assets/images/1aa9def6-81a2-4d11-bbd8-86c14e2e7579.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
    overflow: hidden;
  }
  .enter-your-username {
    display: block;
    position: relative;
    height: 24px;
    margin: 50px 0 0 44px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 23;
  }
  .rectangle-5 {
    position: relative;
    width: 451px;
    height: 57px;
    margin: 13px 0 0 44px;
    background: #ffffff;
    border: 1px solid #4285f4;
    z-index: 25;
    overflow: hidden;
    border-radius: 9px;
  }
  .username-or-email {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 33.33%;
    top: 31.58%;
    left: 5.32%;
    color: #7f7f7f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .enter-password {
    display: block;
    position: relative;
    height: 24px;
    margin: 36px 0 0 44px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .rectangle-6 {
    position: relative;
    width: 451px;
    height: 57px;
    margin: 13px 0 0 44px;
    background: #ffffff;
    border: 1px solid #adadad;
    z-index: 29;
    overflow: hidden;
    border-radius: 9px;
  }
  .password {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 33.33%;
    top: 31.58%;
    left: 5.32%;
    color: #7f7f7f;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }
  .forgot-password {
    display: block;
    position: relative;
    height: 20px;
    margin: 12px 0 0 355px;
    color: #4285f4;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .rectangle-7 {
    position: relative;
    width: 451px;
    height: 54px;
    margin: 44px 0 0 44px;
    background: #0089ec;
    z-index: 33;
    border-radius: 10px;
    box-shadow: 0 4px 19px 0 rgba(119, 147, 65, 0.3);
  }
  .login-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 15px;
    left: 177px;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  